/* @font-face */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Intro_Script";
  src: url("../fonts/Intro_Script/IntroScriptDemo-Medium.otf");
}
